.tgelerqz0nobn14bti418qtbgpng-icon {
  position: absolute;
  height: calc(100% - 33.2px);
  width: calc(100% - 1740px);
  top: 16.6px;
  right: 1716px;
  bottom: 16.6px;
  left: 24px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--color-gray-400);
  box-sizing: border-box;
}
.features {
  position: relative;
  line-height: 25.6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66.8px;
  height: 20px;
  flex-shrink: 0;
}
.link {
  height: 45.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-16cvm8q-container,
.link {
  width: 86.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg-819241569-136-icon {
  position: relative;
  width: 4px;
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.faq,
.link1 {
  flex-shrink: 0;
}
.faq {
  position: relative;
  line-height: 25.6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.3px;
  height: 20px;
}
.link1 {
  width: 50.9px;
  height: 45.6px;
  overflow: hidden;
  flex-direction: column;
}
.divframer-vojyhk-container,
.link1,
.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divframer-vojyhk-container {
  width: 50.9px;
  flex-direction: column;
}
.pricing {
  position: relative;
  line-height: 25.6px;
  font-weight: 500;
  width: 53.2px;
  height: 20px;
  flex-shrink: 0;
}
.link2 {
  width: 72.9px;
  height: 45.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.divframer-1oni54s-container,
.link2,
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divframer-1oni54s-container {
  width: 72.9px;
  flex-direction: column;
}
.testimonials {
  position: relative;
  line-height: 25.6px;
  font-weight: 500;
  width: 96.4px;
  height: 20px;
  flex-shrink: 0;
}
.link3 {
  height: 45.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-1udkk67-container,
.link3 {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divframer-1cpe080 {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 312.25px);
  width: 434.3px;
  height: 46px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.20000000298023224px 0 0.20999984443187714px;
  box-sizing: border-box;
  gap: 16px;
}
.buy-template,
.divframer-1cpe080,
.link-primary {
  display: flex;
  align-items: center;
}
.buy-template {
  position: relative;
  line-height: 21.6px;
  font-weight: 600;
  width: 110.6px;
  height: 23px;
  flex-shrink: 0;
}
.link-primary {
  position: absolute;
  height: 104.35%;
  width: 24.05%;
  top: -2.17%;
  right: 0;
  bottom: -2.17%;
  left: 75.95%;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12.199999809265137px 0;
  text-align: left;
  font-size: var(--font-size-lg);
  font-family: var(--font-outfit);
}
.divframer-12kf1xo {
  position: absolute;
  top: calc(50% - 23px);
  left: 1271.5px;
  width: 624.5px;
  height: 46px;
}
.navbar {
  position: relative;
  background-color: var(--color-seashell);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1920px;
  height: 78px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.hero-child,
.hero-item {
  position: relative;
  width: 11px;
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.hero-item {
  width: 20px;
  height: 31px;
}
.div,
.welcome-to-manage {
  position: relative;
  line-height: 21.6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 6.9px;
  height: 23px;
  flex-shrink: 0;
}
.welcome-to-manage {
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  width: 190.5px;
  height: 15px;
}
.divframer-1putop8 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 222.7px;
  height: 29.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.652238845825195px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
}
.empower-your-business {
  position: absolute;
  top: -11px;
  left: calc(50% - 512.6px);
  letter-spacing: -2px;
  line-height: 85px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1025.5px;
  height: 107px;
}
.insights {
  color: var(--color-gray-300);
}
.strategic-insights-txt-container {
  line-break: anywhere;
  width: 100%;
}
.strategic-insights {
  position: absolute;
  top: 74px;
  left: calc(50% - 307.9px);
  letter-spacing: -2px;
  line-height: 85px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 617.9px;
  height: 107px;
  color: var(--color-coral);
}
.heading-1 {
  position: relative;
  width: 1200px;
  height: 170px;
  text-align: center;
  font-size: var(--font-size-66xl);
  color: var(--color-gray-300);
}
.divframer-1hyemqj {
  width: 1200px;
  height: 237.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: var(--font-size-lg);
}
.powerful-management-platform {
  margin: 0;
}
.powerful-management-platform-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 635.8px;
  height: 54px;
  flex-shrink: 0;
}
.pframer-text {
  width: 700px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.get-started {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  width: 107.4px;
  height: 24px;
  flex-shrink: 0;
}
.get-started,
.link-primary1,
.whatch-demo {
  display: flex;
  align-items: center;
}
.link-primary1 {
  border-radius: var(--br-lg);
  background-color: var(--color-blueviolet-100);
  width: 211px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
}
.whatch-demo {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  width: 130.1px;
  height: 24px;
  flex-shrink: 0;
}
.divframer-1jveaxk-container-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.link-primary2 {
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid #ddd9d4;
  box-sizing: border-box;
  width: 213.8px;
  height: 56px;
  flex-direction: row;
  align-items: center;
  padding: 0 26px;
  gap: 7px;
  color: var(--color-gray-300);
}
.divframer-1c1y0hg,
.divframer-1febxrw,
.link-primary2 {
  display: flex;
  justify-content: flex-start;
}
.divframer-1febxrw {
  width: 448.8px;
  height: 86px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-white);
}
.divframer-1c1y0hg {
  width: 1200px;
  height: 393.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}
.divframer-1hc0e4d,
.t9qcsnfzsndbcmsiohcgneil4jpg-icon {
  border-radius: var(--br-8xl);
  width: 1747.5px;
  overflow: hidden;
}
.t9qcsnfzsndbcmsiohcgneil4jpg-icon {
  position: relative;
  height: 966.9px;
  flex-shrink: 0;
  object-fit: cover;
}
.divframer-1hc0e4d {
  position: absolute;
  top: calc(50% - 503.5px);
  left: calc(50% - 873.7px);
  background-color: transparent;
  box-shadow: 0 0.6px 0.36px -0.92px rgba(250, 252, 255, 0.08),
    0 2.3px 1.37px -1.83px rgba(250, 252, 255, 0.08),
    0 10px 6px -2.75px rgba(250, 252, 255, 0.07), 0 34px 30px -16px #e3e7ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divframer-1xg95ak {
  position: relative;
  width: 1728px;
  height: 824px;
  overflow: hidden;
  flex-shrink: 0;
}
.hero,
.premier-features {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hero {
  margin: 0;
  background: linear-gradient(180deg, #fdf2ec, #fff);
  width: 1920px;
  height: 1317.6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 0 96px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-blueviolet-100);
  font-family: var(--font-outfit);
}
.premier-features {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 127.4px;
  height: 15px;
}
.divframer-1putop81 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 159.6px;
  height: 29.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.593088150024414px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
  text-align: left;
}
.capabilities {
  color: var(--color-coral);
}
.discover-our-products-container {
  position: absolute;
  top: -8px;
  left: calc(50% - 412.9px);
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 827.1px;
  height: 71px;
}
.heading-2 {
  position: relative;
  width: 1200px;
  height: 56px;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
}
.dont-settle-for-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 581.7px;
  height: 54px;
  flex-shrink: 0;
}
.divframer-hnhq2k,
.pframer-text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pframer-text1 {
  width: 600px;
  height: 60px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-hnhq2k {
  width: 1200px;
  height: 185.6px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: center;
  color: var(--color-blueviolet-100);
}
.divframer-1dqpucs {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.boost-productivity-and-container {
  position: relative;
  letter-spacing: -1px;
  line-height: 54.6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 453.6px;
  height: 271.4px;
  flex-shrink: 0;
}
.divframer-1dbgsa2,
.heading-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-3 {
  width: 484px;
  height: 273px;
}
.divframer-1dbgsa2 {
  position: absolute;
  width: calc(100% - 636px);
  top: 0;
  right: 638px;
  left: -2px;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  height: 446px;
  padding: 78px var(--padding-21xl) 35px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.qjeafhsmq29m1s55grw5kyb4png-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 600px;
  height: 323px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.smart-task-management {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 273.5px;
  height: 32px;
  flex-shrink: 0;
}
.pframer-text2 {
  width: 540px;
  height: 32.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.say-goodbye-to {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 486.2px;
  height: 20px;
  flex-shrink: 0;
}
.divframer-9ln4br,
.pframer-text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pframer-text3 {
  width: 540px;
  height: 24px;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-9ln4br {
  width: 600px;
  height: 126.5px;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.divframer-1fk2kwq,
.divframer-1rkd6ro-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1fk2kwq {
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
}
.divframer-1rkd6ro-container {
  position: absolute;
  top: 0;
  left: calc(50% + 2px);
  justify-content: center;
  font-size: var(--font-size-6xl);
}
.divframer-1f37ktk {
  position: relative;
  width: 1200px;
  height: 449.5px;
  font-size: 42px;
}
.lfrht3kbfxtmgazfwkylvyaksbgpn-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 373.3px;
  height: 300.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.flexible-scheduling {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 206.3px;
  height: 32px;
  flex-shrink: 0;
}
.heading-31 {
  width: 313.3px;
  height: 32.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.stay-productive-with-container {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 251.1px;
  height: 44px;
  flex-shrink: 0;
}
.divframer-1hnjuxt,
.pframer-text4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pframer-text4 {
  width: 313.3px;
  height: 48px;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-1hnjuxt {
  width: 373.3px;
  height: 150.5px;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.divframer-1rya34,
.divframer-yfbogm-container {
  width: 373.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1rya34 {
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
}
.divframer-yfbogm-container {
  justify-content: center;
}
.easy-communication {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 229.1px;
  height: 32px;
  flex-shrink: 0;
}
.collaborate-seamlessly-with-container {
  line-height: 24px;
  font-weight: 500;
  width: 300.3px;
  height: 44px;
}
.analytics,
.collaborate-seamlessly-with-container,
.gain-valuable-insights-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.analytics {
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  width: 101.1px;
  height: 32px;
}
.gain-valuable-insights-container {
  line-height: 24px;
  font-weight: 500;
  width: 317.5px;
  height: 44px;
}
.pframer-text6 {
  width: 313.3px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-1irddqm {
  width: 1200px;
  height: 451.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-6xl);
}
.divframer-4d1i2v,
.section-features {
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.divframer-4d1i2v {
  width: 1200px;
  height: 1206.3px;
  display: flex;
  align-items: center;
  gap: 59px;
}
.section-features {
  background-color: var(--color-white);
  width: 1920px;
  height: 1406.3px;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  color: var(--color-gray-300);
}
.and-more,
.divframer-1putop82,
.section-features {
  display: flex;
  align-items: center;
}
.and-more {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 84.6px;
  height: 15px;
  flex-shrink: 0;
}
.divframer-1putop82 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 116.8px;
  height: 29.6px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.669946670532227px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
}
.explore-an-array-container {
  position: absolute;
  top: -8px;
  left: 0;
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 1098.8px;
  height: 127px;
}
.heading-34 {
  position: relative;
  width: 1200px;
  height: 112px;
  font-size: var(--font-size-37xl);
  color: var(--color-seashell);
}
.discover-the-tools-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 480px;
  height: 54px;
  flex-shrink: 0;
}
.divframer-6b3l05,
.pframer-text7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pframer-text7 {
  width: 550px;
  height: 60px;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-6b3l05 {
  width: 1200px;
  height: 241.6px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.divframer-u80wk3-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 61px;
  height: 61px;
  overflow: hidden;
  flex-shrink: 0;
}
.cross-platform-compatibility {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 174.6px;
  height: 64.5px;
  flex-shrink: 0;
}
.enjoy-the-flexibility,
.pframer-text8 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pframer-text8 {
  width: 313.3px;
  height: 65px;
  flex-direction: column;
}
.enjoy-the-flexibility {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  width: 286.2px;
  height: 20px;
  flex-shrink: 0;
}
.compatibility-our-product {
  justify-content: center;
  width: 254px;
  height: 20px;
}
.compatibility-our-product,
.mobile-devices-allowing-container,
.seamlessly-across-desktop {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.seamlessly-across-desktop {
  justify-content: center;
  width: 289.2px;
  height: 20px;
}
.mobile-devices-allowing-container {
  width: 284.5px;
  height: 44px;
}
.pframer-text9 {
  width: 313.3px;
  height: 120px;
  justify-content: flex-start;
  padding: 0 11.887494087219238px 0 12.199999809265137px;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-1dpw8pi,
.divframer-ypjcbp,
.pframer-text9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-ypjcbp {
  width: 313.3px;
  height: 195px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.divframer-1dpw8pi {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 373.3px;
  height: 386px;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-11xl);
  gap: var(--gap-xl);
}
.automate-support-from,
.stay-informed-with-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.stay-informed-with-container {
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  width: 312.5px;
  height: 64.5px;
}
.automate-support-from {
  line-height: 24px;
  font-weight: 500;
  justify-content: center;
  width: 294.7px;
  height: 20px;
}
.contact-to-closing {
  justify-content: center;
  width: 307.2px;
  height: 20px;
}
.contact-to-closing,
.improve-time-to,
.support-from-first-container {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.improve-time-to {
  justify-content: center;
  width: 282.8px;
  height: 20px;
}
.support-from-first-container {
  width: 298px;
  height: 44px;
}
.pframer-text11 {
  width: 313.3px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2.9205126762390137px 0 3.2300000190734863px;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.secure-data-encryption-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 288.5px;
  height: 64.5px;
  flex-shrink: 0;
}
.trust-in-our {
  justify-content: center;
  width: 290.2px;
  height: 20px;
}
.keep-your-sensitive,
.secure-rest-easy-container,
.trust-in-our {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.keep-your-sensitive {
  justify-content: center;
  width: 313.8px;
  height: 20px;
}
.secure-rest-easy-container {
  width: 301.5px;
  height: 44px;
}
.divframer-ypjcbp2,
.pframer-text13 {
  width: 313.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pframer-text13 {
  height: 96px;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-ypjcbp2 {
  height: 171px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-3xs);
}
.divframer-1wrfpcj,
.divframer-6qjmop {
  width: 1200px;
  justify-content: flex-start;
}
.divframer-6qjmop {
  height: 386px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-seashell);
}
.divframer-1wrfpcj {
  height: 687.6px;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-41xl);
}
.divframer-1vgtvbt,
.divframer-1wrfpcj,
.integrations {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.divframer-1vgtvbt {
  background-color: var(--color-gray-300);
  width: 1920px;
  height: 927.6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}
.integrations {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 98.5px;
  height: 15px;
}
.divframer-1putop83 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 130.8px;
  height: 29.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.648141860961914px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
  text-align: left;
}
.enable-integration-with-container,
.other-popular-tools-container {
  position: absolute;
  top: -8px;
  left: calc(50% - 282.8px);
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 565.9px;
  height: 71px;
}
.other-popular-tools-container {
  top: 48px;
  left: calc(50% - 284.2px);
  width: 568.5px;
  height: 127px;
}
.heading-4 {
  position: relative;
  width: 600px;
  height: 168px;
  font-size: var(--font-size-37xl);
  color: var(--color-seashell);
}
.by-enabling-integration-container,
.seamlessly-connect-and {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.seamlessly-connect-and {
  justify-content: center;
  width: 431.7px;
  height: 24px;
}
.by-enabling-integration-container {
  width: 418.9px;
  height: 54px;
}
.divframer-1286ntv,
.pframer-text14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.pframer-text14 {
  width: 450px;
  height: 90px;
  padding: 0 8.96190071105957px 0 9.329999923706055px;
  gap: 6px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-1286ntv {
  width: 1200px;
  height: 327.6px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 300px;
  gap: var(--gap-lgi);
}
.sqd7mkwgkdqrrq1a99k5z1zlfapng-icon {
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  width: 580px;
  height: 273px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divframer-rwu701 {
  width: 1200px;
  height: 660.6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-41xl);
}
.divframer-rwu701,
.faq1,
.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header {
  background-color: var(--color-gray-300);
  width: 1920px;
  height: 760.6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.faq1 {
  position: relative;
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 27.3px;
  height: 15px;
}
.divframer-1putop84 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 77.6px;
  height: 29.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 9.637685775756836px;
}
.answers {
  margin: 0;
  color: var(--color-coral);
}
.need-answers {
  position: absolute;
  top: -8px;
  left: 0;
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 233.5px;
  height: 127px;
}
.heading-5 {
  position: relative;
  width: 400px;
  height: 112px;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
}
.check-out-our-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 311px;
  height: 84px;
  flex-shrink: 0;
}
.divframer-18ygqcl,
.pframer-text15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pframer-text15 {
  width: 325.5px;
  height: 90px;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-18ygqcl {
  width: 465px;
  height: 271.6px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.what-is-manage {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 488px;
  height: 32px;
  flex-shrink: 0;
}
.heading-6 {
  width: 621px;
  height: 32.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.divframer-5niy1l-container-icon {
  position: relative;
  width: 30px;
  height: 30px;
}
.divframer-1iem2z4 {
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite);
  width: 720px;
  height: 72.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.divframer-15lwsq6-container {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.is-manage-wise-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 599.2px;
  height: 64.5px;
  flex-shrink: 0;
}
.heading-61 {
  width: 621px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.divframer-1iem2z41 {
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite);
  width: 720px;
  height: 105px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.can-i-access-container,
.how-secure-is,
.what-kind-of {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 578.2px;
  height: 64.5px;
  flex-shrink: 0;
}
.how-secure-is,
.what-kind-of {
  width: 548.4px;
  height: 32px;
}
.how-secure-is {
  width: 551.3px;
}
.divframer-15az9bq-container,
.divframer-zd1ut8 {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-zd1ut8 {
  border-radius: var(--br-xl);
  height: 475.5px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.divframer-15az9bq-container {
  justify-content: center;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-300);
}
.divfaq,
.divframer-1resr3z {
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
}
.divframer-1resr3z {
  width: 1200px;
  height: 475.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2.5px;
  gap: var(--gap-3xs);
}
.divfaq {
  background-color: var(--color-white);
  width: 1920px;
  height: 745.5px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 120px 0;
  font-size: var(--font-size-xs);
}
.divfaq,
.divframer-1putop85,
.pricing1 {
  display: flex;
  align-items: center;
}
.pricing1 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 54.9px;
  height: 15px;
  flex-shrink: 0;
}
.divframer-1putop85 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 87.1px;
  height: 29.6px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.632654190063477px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
  text-align: left;
}
.select-your-ideal-container {
  position: absolute;
  top: -8px;
  left: calc(50% - 340.6px);
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 682.5px;
  height: 71px;
}
.at-manage-wise-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 452.1px;
  height: 54px;
  flex-shrink: 0;
}
.pframer-text16 {
  width: 500px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-1pm53h8 {
  width: 1200px;
  height: 225.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.divframer-1pm53h8,
.divframer-1putop86,
.free {
  display: flex;
  align-items: center;
}
.free {
  position: relative;
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 33.1px;
  height: 15px;
  flex-shrink: 0;
}
.divframer-1putop86 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 52.8px;
  height: 22.4px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.heading-21,
.month {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading-21 {
  top: 0;
  left: calc(50% - 63.7px);
  letter-spacing: -1px;
  line-height: 56px;
  justify-content: center;
  width: 68.5px;
  height: 63px;
}
.month {
  top: 35.2px;
  left: 72.4px;
  font-size: var(--font-size-base);
  line-height: 20.8px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray);
  text-align: left;
  width: 55.4px;
  height: 20px;
}
.divframer-hessy3 {
  position: relative;
  width: 127.4px;
  height: 56px;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
}
.divframer-1x3d2to {
  width: 326.7px;
  height: 93.4px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.access-to-all {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 209.8px;
  height: 20px;
  flex-shrink: 0;
}
.divframer-7i7pwb,
.divframer-text {
  width: 293px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.divframer-7i7pwb {
  width: 327px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chat-and-email,
.reporting-and-analytics,
.up-to-5 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 181px;
  height: 20px;
  flex-shrink: 0;
}
.chat-and-email,
.up-to-5 {
  width: 179.8px;
}
.chat-and-email {
  width: 178.9px;
}
.divframer-rhnj1c {
  width: 327px;
  height: 234px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 88px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-rhnj1c,
.get-started1,
.link-primary3 {
  display: flex;
  align-items: center;
}
.get-started1 {
  position: relative;
  line-height: 21.6px;
  font-weight: 600;
  width: 94.4px;
  height: 23px;
  flex-shrink: 0;
}
.link-primary3 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  width: 134.1px;
  height: 48px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12.210000038146973px 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
}
.divframer-gir2f7-container,
.divframer-zgp91r {
  width: 386.7px;
  display: flex;
  flex-direction: column;
}
.divframer-zgp91r {
  border-radius: var(--br-11xl);
  background-color: var(--color-lavender);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  height: 468px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 29.670013427734375px 32.6099853515625px
    var(--padding-11xl);
  gap: var(--gap-3xs);
}
.divframer-gir2f7-container {
  align-items: center;
  justify-content: center;
}
.standard {
  position: relative;
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 72.1px;
  height: 15px;
  flex-shrink: 0;
}
.divframer-1putop87 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 91.8px;
  height: 22.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.689414978027344px;
  box-sizing: border-box;
}
.heading-22,
.month1 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading-22 {
  top: 0;
  left: calc(50% - 75.25px);
  letter-spacing: -1px;
  line-height: 56px;
  justify-content: center;
  width: 91.6px;
  height: 63px;
}
.month1 {
  top: 35.2px;
  left: 95.5px;
  font-size: var(--font-size-base);
  line-height: 20.8px;
  font-family: var(--font-inter);
  text-align: left;
  width: 55.4px;
  height: 20px;
}
.divframer-hessy31 {
  position: relative;
  width: 150.5px;
  height: 56px;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-white);
}
.account-performance-reporting,
.integrations1,
.reporting-and-analytics1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 181.1px;
  height: 20px;
  flex-shrink: 0;
}
.account-performance-reporting,
.integrations1 {
  width: 117.1px;
}
.account-performance-reporting {
  width: 242.1px;
}
.divframer-rhnj1c1 {
  width: 327px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.get-started2 {
  position: relative;
  line-height: 21.6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 96.7px;
  height: 23px;
  flex-shrink: 0;
}
.divframer-zgp91r1,
.link-primary4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.link-primary4 {
  border-radius: var(--br-xs);
  background-color: var(--color-blueviolet-100);
  width: 136.4px;
  height: 48px;
  align-items: center;
  padding: 12.210000038146973px 0;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.divframer-zgp91r1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  width: 386.7px;
  height: 485.4px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-31xl) 29.670013427734375px var(--padding-21xl)
    var(--padding-11xl);
  gap: var(--gap-3xs);
}
.business,
.divframer-1putop88 {
  display: flex;
  align-items: center;
}
.business {
  position: relative;
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 63.3px;
  height: 15px;
  flex-shrink: 0;
}
.divframer-1putop88 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 82.9px;
  height: 22.4px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.heading-23,
.month2 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading-23 {
  top: 0;
  left: calc(50% - 76.45px);
  letter-spacing: -1px;
  line-height: 56px;
  justify-content: center;
  width: 94px;
  height: 63px;
}
.month2 {
  top: 35.2px;
  left: 97.9px;
  font-size: var(--font-size-base);
  line-height: 20.8px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray);
  text-align: left;
  width: 55.3px;
  height: 20px;
}
.divframer-hessy32 {
  position: relative;
  width: 152.9px;
  height: 56px;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
}
.divframer-rhnj1c2,
.divframer-zgp91r2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.divframer-rhnj1c2 {
  width: 327px;
  height: 234px;
  align-items: center;
  padding: var(--padding-xl) 0 54px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.divframer-zgp91r2 {
  border-radius: var(--br-11xl);
  background-color: var(--color-lavender);
  border: 1px solid var(--color-lavender);
  width: 386.7px;
  height: 468px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-21xl) 29.67999267578125px 32.6099853515625px
    var(--padding-11xl);
}
.divframer-11poge1,
.divframer-hgc32s {
  width: 1200px;
  justify-content: flex-start;
}
.divframer-11poge1 {
  height: 485.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-coral);
}
.divframer-hgc32s {
  height: 721px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.divframer-hgc32s,
.section,
.testimonials1 {
  display: flex;
  align-items: center;
}
.section {
  background-color: var(--color-white);
  width: 1920px;
  height: 901px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  text-align: center;
}
.testimonials1 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 97.3px;
  height: 15px;
  flex-shrink: 0;
}
.divframer-1putop89 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 129.6px;
  height: 29.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.650049209594727px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
}
.hear-from-our-container {
  position: absolute;
  top: -8px;
  left: 0;
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 726px;
  height: 71px;
}
.discover-why-our-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 519.2px;
  height: 54px;
  flex-shrink: 0;
}
.divframer-rd7mqg {
  width: 1200px;
  height: 185.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.the-customer-support-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 264.6px;
  height: 204px;
  flex-shrink: 0;
}
.pframer-text18 {
  width: 260px;
  height: 210px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.ootxrjmtlk5xx3qtqxhynwpqyi4jp-icon {
  position: relative;
  border-radius: var(--br-81xl);
  width: 54px;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divframer-text15,
.sarah {
  flex-shrink: 0;
  display: flex;
}
.sarah {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  align-items: center;
  width: 53.3px;
  height: 24px;
}
.divframer-text15 {
  width: 194px;
  height: 30px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.project-manager {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 126.3px;
  height: 20px;
  flex-shrink: 0;
}
.divframer-text16 {
  width: 194px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.divframer-13bxuqs,
.divframer-13nqy58 {
  width: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divframer-13nqy58 {
  width: 260px;
  height: 54px;
  flex-direction: row;
  gap: var(--gap-xs);
}
.divframer-yfdsr1 {
  position: absolute;
  height: 86.49%;
  width: 24.6%;
  top: 0;
  right: -133%;
  bottom: 13.51%;
  left: 208.39%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-31xl) var(--padding-21xl) var(--padding-21xl);
  gap: var(--gap-11xl);
}
.using-this-product-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 254.1px;
  height: 174px;
  flex-shrink: 0;
}
.pframer-text19 {
  width: 260px;
  height: 180px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.david,
.freelancer {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.david {
  letter-spacing: -0.5px;
  line-height: 30px;
  width: 52.3px;
  height: 24px;
}
.freelancer {
  line-height: 24px;
  width: 81.5px;
  height: 20px;
}
.divframer-yfdsr11 {
  position: absolute;
  height: 79.73%;
  width: 24.6%;
  top: 0;
  right: -159.04%;
  bottom: 20.27%;
  left: 234.44%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-31xl) var(--padding-21xl) var(--padding-21xl);
  gap: var(--gap-11xl);
}
.i-cant-imagine-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 248.9px;
  height: 204px;
  flex-shrink: 0;
}
.pframer-text20 {
  width: 260px;
  height: 210px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.alex,
.it-manager {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.alex {
  letter-spacing: -0.5px;
  line-height: 30px;
  width: 40.1px;
  height: 24px;
}
.it-manager {
  line-height: 24px;
  width: 86.9px;
  height: 20px;
}
.divframer-yfdsr12 {
  position: absolute;
  height: 86.49%;
  width: 24.6%;
  top: 0;
  right: -185.09%;
  bottom: 13.51%;
  left: 260.49%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-31xl) var(--padding-21xl) var(--padding-21xl);
  gap: var(--gap-11xl);
}
.manage-wise-transformed-container {
  letter-spacing: -0.5px;
  line-height: 30px;
  width: 258.2px;
  height: 174px;
}
.art-director,
.emily,
.manage-wise-transformed-container {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.emily {
  letter-spacing: -0.5px;
  line-height: 30px;
  width: 49px;
  height: 24px;
}
.art-director {
  line-height: 24px;
  width: 89.9px;
  height: 20px;
}
.divframer-yfdsr13 {
  position: absolute;
  height: 79.73%;
  width: 24.6%;
  top: 0;
  right: -211.14%;
  bottom: 20.27%;
  left: 286.54%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-31xl) var(--padding-21xl) var(--padding-21xl);
  gap: var(--gap-11xl);
}
.list {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 222px);
  right: 2890px;
  left: -2870px;
  height: 444px;
}
.section1 {
  position: relative;
  width: 1402px;
  height: 464px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-54ls01-container,
.sectionmask-group {
  width: 1402px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionmask-group {
  height: 464px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.divframer-54ls01-container {
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.divtestimonials,
.dont-miss-out {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.divtestimonials {
  background-color: var(--color-white);
  width: 1920px;
  height: 809.6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 0 259px;
  box-sizing: border-box;
  gap: var(--gap-41xl);
}
.dont-miss-out {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.96px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  width: 108.7px;
  height: 15px;
}
.divframer-1putop810 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 140.9px;
  height: 29.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) 9.632303237915039px var(--padding-10xs)
    var(--padding-3xs);
  gap: var(--gap-8xs);
  font-size: var(--font-size-lg);
}
.unleash-your-potential-container {
  position: absolute;
  top: -8px;
  left: 0;
  letter-spacing: -1px;
  line-height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 390.2px;
  height: 127px;
}
.heading-53 {
  position: relative;
  width: 500px;
  height: 112px;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-300);
}
.join-our-community-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 349.1px;
  height: 84px;
  flex-shrink: 0;
}
.pframer-text22 {
  width: 350px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.try-out-now {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 105px;
  height: 24px;
  flex-shrink: 0;
}
.divframer-30o11,
.link-primary6 {
  display: flex;
  flex-direction: column;
}
.link-primary6 {
  border-radius: var(--br-lg);
  background-color: var(--color-blueviolet-100);
  width: 211px;
  height: 56px;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.divframer-30o11 {
  width: 500px;
  height: 347.6px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.svg2224725030-icon {
  position: relative;
  width: 364px;
  height: 108px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-mu1j3l,
.happy-users {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.happy-users {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32.5px;
  font-weight: 600;
  width: 197px;
  height: 32px;
  margin-top: -70px;
}
.divframer-mu1j3l {
  width: 440px;
  height: 108px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 38px;
  box-sizing: border-box;
}
.s4kvg1ffzsqxr8zoqpvjrfsbad0pn-icon {
  position: relative;
  width: 440px;
  height: 170px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divframer-1q2tti4,
.divframer-ntrwh0 {
  border-radius: var(--br-11xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
}
.divframer-1q2tti4 {
  width: 440px;
  height: 288px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.divframer-ntrwh0 {
  background-color: var(--color-white);
  box-shadow: 0 0.6px 0.36px -0.92px rgba(250, 252, 255, 0.08),
    0 2.3px 1.37px -1.83px rgba(250, 252, 255, 0.08),
    0 10px 6px -2.75px rgba(250, 252, 255, 0.07),
    0 34px 30px -16px rgba(254, 129, 98, 0.05);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
  width: 1200px;
  height: 547.6px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 100px 125px 100.00003051757812px;
}
.divframer-8dmr5w {
  background: linear-gradient(180deg, #fff, #fdf2ec);
  width: 1920px;
  height: 667.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.tgelerqz0nobn14bti418qtbgpng-icon1 {
  position: relative;
  width: 193px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link-features {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  width: 66.8px;
  height: 20px;
  flex-shrink: 0;
}
.link-faq,
.link-features,
.pframer-text23 {
  display: flex;
  align-items: center;
}
.pframer-text23 {
  width: 66.5px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.link-faq {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  width: 31.3px;
  height: 20px;
  flex-shrink: 0;
}
.pframer-text24 {
  width: 30.9px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.link-pricing,
.pframer-text24,
.pframer-text25 {
  display: flex;
  align-items: center;
}
.link-pricing {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  width: 53.2px;
  height: 20px;
  flex-shrink: 0;
}
.pframer-text25 {
  width: 52.9px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.link-testimonials {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 96.4px;
  height: 20px;
  flex-shrink: 0;
}
.pframer-text26 {
  width: 96px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divframer-ajjz1r,
.divframer-qtnvi9 {
  height: 126px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-ajjz1r {
  width: 600px;
  flex-direction: column;
  padding: 0 0 0 503.9700012207031px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.divframer-qtnvi9 {
  width: 1200px;
  flex-direction: row;
  gap: 407px;
}
.managewise-inc {
  position: absolute;
  top: 40px;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 197.6px;
  height: 24px;
}
.divframer-1aa7prg-icon {
  position: absolute;
  top: calc(50% + 8px);
  left: 1096px;
  width: 104px;
  height: 24px;
}
.after1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.divframer-1am5xcs {
  position: relative;
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 1200px;
  height: 64px;
  color: var(--color-darkslategray);
}
.divframer-13etdgb,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-13etdgb {
  width: 1200px;
  height: 310px;
  justify-content: flex-start;
  gap: 120px;
}
.footer {
  background-color: var(--color-seashell);
  width: 1920px;
  height: 430px;
  justify-content: flex-end;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.divframer-72rtr7,
.managewiseframerwebsite-by-h {
  background-color: var(--color-seashell);
  width: 100%;
}
.divframer-72rtr7 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.managewiseframerwebsite-by-h {
  position: relative;
  height: 8043.8px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-blueviolet-100);
  font-family: var(--font-outfit);
}
@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: row;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .navbar{
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    flex-direction: column;
  }
}
